<%- include('../partials/header') %>

<div class="container mt-5">

    <h2 class="text-center">My Profile, Welcome <%= profile.name %></h2>
    <hr>
    <div class="card text-bg-dark col-md-8 offset-md-4" style="width: 24rem;">
        <div class="card-body">
            <div class="d-flex">
                <h5 class="card-title flex-fill">Name: <%= profile.name %></h5>
                <ul class="list-group list-group-flush">
                    <li class="card-text list-group-item">Email: <%= profile.email %></li>
                    <li class="card-text list-group-item">Role: <%= profile.role.name %></li>
                </ul>
            </div>
        </div> 
    </div>   
</div>

<%- include('../partials/footer') %>






