<%- include('../partials/header') %>

<div class="container mt-5">

    <h2 class="text-center">My Profile, Welcome <%= profile.name %></h2>
    <hr>
    <h4 class="text-center">My Articles</h4>
    <hr>
    <ul>
        <% for(let pa of profile.articles) { %>
            <li class="card mt-3 col-md-8 offset-md-2  text-bg-dark">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <a class="card-title" href="/articles/<%= pa._id %>/show"><%= pa.name %></a>
                    </div>
                    <div class="d-flex justify-content-evenly">
                        <a class="btn btn-sm btn-success" href="/articles/<%= pa._id %>/edit">Edit</a>
                
                        <form action="/articles/<%= pa._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                    
                </div>
            </li>
       <% } %>     
    </ul>


    <form action="/profiles/<%= profile._id %>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>

    <br>
    <div class=""><a href="/profiles/<%= profile._id %>/articles/new">Create Article</a></div>
    </br>
    <div class=""><a href="/profiles/<%= profile._id %>/edit">Edit</a></div>
    </br>
    <div class=""><a href="/articles">Articles</a></div>
    </br>



</div>

<%- include('../partials/footer') %>






