<%- include('../partials/header') %>

<div class="container col-md-8 mt-5">

    <h2 >Edit Article</h2>
    <hr>
    <div class="">
        <form action="/articles/<%= article._id %>?_method=PUT" method="post">

            <div class="mb-3 col-md-6">
                <label class="form-label" for="name">Article Name</label>
                <input class="form-control" type="text" name="name" id="name" value="<%= article.name %>"><br>
            </div>

            <div class="mb-3">
                <label class="form-label" for="content">Article Content</label>
                <textarea class="form-control" name="text" id="text"><%= article.text %></textarea>
            </div>

            <div class="mb-3 col-md-2">
                <label class="form-label" for="name">Year</label>
                <input class="form-control" type="text" name="year" id="year" placeholder="Year"><br>
            </div>

            <div class="mb-3 col-md-2">
                <label class="form-label" for="medium">Medium</label>
                <input class="form-control" type="text" name="medium" id="mediumr" placeholder="Medium"><br>
            </div>

            <div class="mb-3 col-md-2">
                <label class="form-label" for="Dimensions">Dimensions</label>
                <input class="form-control" type="text" name="dim" id="dim" placeholder="Dimensions"><br>
            </div>

            <div class="mb-3 col-md-2">
                <label class="form-label" for="locations">Location</label>
                <input class="form-control" type="text" name="location" id="location" placeholder="Location"><br>
            </div>

            <div class="mb-3 col-md-4">
                <label for="author">Author Name</label>
                <select class="form-select" name="author" id="author" placeholder="Author">
                    <% for(let au of authors) { %>
                        <option value="<%= au._id %>" <%= article.author === au ? 'selected' : '' %> ><%= au.name %></option>
                    <% } %>
                </select>
            </div>

            <div class="mb-3 col-md-2">
                <label for="category">Category</label>
                <select class="form-select" name="category" id="category" placeholder="Category">
                    <% for(let cat of categories) { %>
                        <option value="<%= cat._id %>" <%= article.category === cat ? 'selected' : '' %> ><%= cat.name %></option>
                    <% } %>
                </select>
            </div>
            <div class="mb-3 col-md-2">
                <label for="type">Type</label>
                <select class="form-select" name="type" id="type" placeholder="Type">
                    <% for(let t of types) { %>
                        <option value="<%= t._id %>" <%= article.type === t ? 'selected' : '' %>><%= t.name %></option>
                    <% } %>
                </select>
            </div>

            </br>

            <button class="btn btn-primary" type="submit">Update</button>
        </form>
    </div>

</div>

<%- include('../partials/footer') %>