<%- include('../partials/header') %>


<div class="container mt-5">
    <h1 class="text-center">Articles</h1>
    <hr>
    <div class="row">
        <div class="col-md-8 offset-md-2">
        <ul class="list-group text-center">
            <% if(articles.length === 0){ %>
                <h3 class="text-center">There are No Articles</h3>
            <% } else { %>    
                <% for(let a of articles){ %>
                    <li class="card mt-3 text-bg-dark">
                        <div class="card-body">
                            <h4 class="card-title"><%= a.name %></h4>
                            <h6>Category: <%= a.category.name %></h6>
                            <div class="d-flex justify-content-evenly">
                                <a class="btn btn-primary" role="button" href="/articles/<%= a._id %>/show">show</a>

                                <% if(profile.role.name === 'Admin') {%>

                                    <form action="/articles/<%= a._id %>?_method=DELETE" method="POST">
                                        <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                    </form> 
                                                
                                <% } %>  
                                
                            </div>
                        </div>
                    </li>
                <% } %>
            <% } %>
        </ul>
        </div>
    </div>  
</div>


<%- include('../partials/footer') %>