<%- include('../partials/header') %>


<div class="container col-md-8 offset-md-2 mt-5">
    <h1 class="text-center">Articles</h1>
    <hr>
    <ul class="list-group text-center col-md-8 offset-md-2" style="width: 42rem;">
        <% if(articles.length === 0){ %>
            <h3 class="text-center">There are No Articles</h3>
        <% } else { %>    
            <% for(let a of articles){ %>
                <li class="card mt-3 col-md-8 offset-md-2 text-bg-dark">
                    <h4><%= a.name %></h4>
                    <h6>Subject: <%= a.category.name %></h6>
                    <a class="btn btn-sm btn-primary" href="/articles/<%= a._id %>/show">show</a>
                </li>
            <% } %>
        <% } %>
    </ul>
</div>


<%- include('../partials/footer') %>