<%- include('../partials/header') %>

<div class="container">

    <h2>Create Article</h2>
    <hr>
    <form action="/profiles/<%= profile._id %>/articles" method="post">

        <div class="">
            <label for="name">Article Name</label>
             <input type="text" name="name" id="name" placeholder="Article Name"><br>
        </div>

        <div class="">
            <label for="text">Article Content</label>
            <textarea name="text" id="text"></textarea>
        </div>

        <div class="">
            <label for="category">Category</label>
            <select name="category" id="category" placeholder="Category">
                <% for(let cat of categories) { %>
                    <option value="<%= cat._id %>"><%= cat.name %></option>
                <% } %>
            </select>
        </div>



         </br>

        <button type="submit">Submit</button>
    </form>

</div>

<%- include('../partials/footer') %>
