<%- include('../partials/header') %>

<div class="container col-md-8 mt-5">

    <div class="">
        <h2>Add Article</h2>
        <hr>
        <form class="" action="/profiles/<%= profile._id %>/articles" method="post">

            <div class="mb-3 col-md-6">
                <label class="form-label" for="name">Article Name</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="Article Name"><br>
            </div>

            <div class="mb-3">
                <label class="form-label" for="text">Article Content</label>
                <textarea class="form-control" name="text" id="text" rows="4"></textarea>
            </div>

            <div class="mb-3 col-md-2">
                <label class="form-label" for="name">Year</label>
                <input class="form-control" type="text" name="year" id="year" placeholder="Year"><br>
            </div>

            <div class="mb-3 col-md-2">
                <label class="form-label" for="name">Medium</label>
                <input class="form-control" type="text" name="medium" id="mediumr" placeholder="Medium"><br>
            </div>

            <div class="mb-3 col-md-2">
                <label class="form-label" for="name">Dimensions</label>
                <input class="form-control" type="text" name="dim" id="dim" placeholder="Dimensions"><br>
            </div>

            <div class="mb-3 col-md-2">
                <label class="form-label" for="name">Location</label>
                <input class="form-control" type="text" name="location" id="location" placeholder="Location"><br>
            </div>

            <div class="mb-3 col-md-4">
                <label for="category">Author Name</label>
                <select class="form-select" name="author" id="author" placeholder="Author">
                    <% for(let au of authors) { %>
                        <option value="<%= au._id %>"><%= au.name %></option>
                    <% } %>
                </select>
            </div>

            <div class="mb-3 col-md-2">
                <label class="form-label" for="name">Design By</label>
                <input class="form-control" type="text" name="designBy" id="designBy" placeholder="Design By"><br>
            </div>

            <div class="mb-3 col-md-2">
                <label class="form-label" for="name">Develop</label>
                <input class="form-control" type="text" name="developer" id="developer" placeholder="Develop"><br>
            </div>

            <div class="mb-3 col-md-2">
                <label for="category">Category</label>
                <select class="form-select" name="category" id="category" placeholder="Category">
                    <% for(let cat of categories) { %>
                        <option value="<%= cat._id %>"><%= cat.name %></option>
                    <% } %>
                </select>
            </div>
            <div class="mb-3 col-md-2">
                <label for="category">Type</label>
                <select class="form-select" name="type" id="type" placeholder="Type">
                    <% for(let t of types) { %>
                        <option value="<%= t._id %>"><%= t.name %></option>
                    <% } %>
                </select>
            </div>
            </br>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

</div>

<%- include('../partials/footer') %>
