<%- include('../partials/header') %>

<div class="container mt-5 col-md-8">

    <div class="card text-bg-dark mt-3">
        <div class="card-body">
            <h4 class="card-title"><%= article.name %></h4>
            <p class="card-text"><%= article.text %></p>
            <p>Category: <%= article.category.name %></p>
            <p>Type: <%= article.type.name %></p>
            <% if(article.author){%>
                <p>By: <%= article.author.name %></p>
            <% } else { %>
                <p>Unknown</p>
            <% } %>  
            <a class="btn btn-success" role="button" href="/articles/<%= article._id %>/edit">Edit</a>
        </div>
    </div>


</div>

<%- include('../partials/footer') %>