<%- include('../partials/header') %>


<div class="container">

    <div class="">
        <h4><%= article.name %></h4>
    </div>

    <div class="">
        <p for=""><%= article.text %></p>
    </div>

    <div class="">
        <p for="">By: <%= article.author.name %></p>
    </div>


</div>




<%- include('../partials/footer') %>