<%- include('../partials/header') %>

<div class="container mt-5 col-md-8">

    <div class="card text-bg-dark mt-3">
        <div class="card-body">
            <h4 class="card-title"><%= author.name %></h4>
            <p class="card-text"><%= author.nationality %></p>
            
            <% if(author.articles){%>
                 <% for(let ar of author.articles) { %>
                    <h5>Works</h5>
                    <ul>
                        <li><%= ar.name %></li>
                    </ul>
                <% } %>
            <% } else { %>
                <p>Unknown</p>
            <% } %>    
        </div>
    </div>


</div>

<%- include('../partials/footer') %>